<h1>People are Reading ...</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Author</th>
    <th>Isbn</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
  <tr>
    <td>
        <% if book.photo.present? %>
            <%= image_tag book.photo, height:80 %>
        <% elsif book.goodreadsphoto.present? %>
            <%= image_tag book.goodreadsphoto, height: 80 %>
        <% end %>
    </td>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.isbn %></td>
    <td><%= book.genre %></td>
    <td><%= link_to 'Show', book %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <!-- <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book', new_book_path %>
