<p id="notice"><%= notice %></p>

<div class = "title">
    <h3><%= @book.title %></h3> 
</div>

<div class = "photo">
  <p>
    <%= image_tag @book.photo if @book.photo.present? %>
  </p>
</div>

<div class = "data">

  <p>
    <b>Description:</b>
    <%= @book.description %>
  </p>

  <p>
    <b>Author:</b>
    <%= @book.author %>
  </p>

  <p>
    <b>Isbn:</b>
    <%= @book.isbn %>
  </p>


  <p>
    <b>Genre:</b>
    <%= @book.genre %>
  </p>

 
</div>

<div class = "links">
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
</div>